{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
<meta name="keywords" content="Curriculum Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="{% static "js/jquery.min.js"%}"></script>
{% endblock %}
{% block content %}
{% block navbar %}
{{ block.super }}
{% endblock %}
<!-- header -->
<div class="col-sm-3 col-md-2 sidebar">
         <div class="sidebar_top">
             <h1>付四凯</h1> 
             <img src="{% static "images/resume_photo.jpg"%}" alt=""/>
         </div>
        <div class="details">
             <h3>电话</h3>
             <p>+86 130 0716 8671</p>  	 
             <h3>邮箱</h3>
             <p>4453664646@qq.com</p>
             <address>
             <h3>地址</h3>
             <span>武汉市,</span>
             <span>洪山区,</span>
             <span>华中科技大学.</span>
             </address>
             
        </div>
        <div class="clearfix"></div>
</div>
<!---->
<link href="{% static "css/popuo-box.css" %}" rel="stylesheet" type="text/css" media="all"/>
<script src="{% static "js/jquery.magnific-popup.js" %}" type="text/javascript"></script>
    <!---//pop-up-box---->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <div class="content" >
         <div class="details_header">
             <ul>
                 <li><a href="{% url "resume:resume" %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>简历</a></li>        
                 <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>照片</a></li>
                 <div id="small-dialog" class="mfp-hide">
                     <img src="{%static "images/ethan_leisure.jpg" %}" alt=""/>
                 </div>
                 <script>
                        $(document).ready(function() {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });
                                                                                        
                        });
                </script>
             </ul>
         </div>
         <div class="company">
             <h3 class="clr1">自我介绍</h3>
             <div class="company_details">
                 <h4>核心竞争力</h4>
                 <p class="cmpny1">我一直把耐心和方法作为我的核心竞争力，也会有意识的去培养这方面的品质。耐心代表的对一件事不厌其烦的投入时间和精力，不管遇到什么样的挫折。
                 方法就是在提升效率方面做文章，快速阅读，时间管理，资料收集等。这指导我完成过很多转变，如何从英语很差，到有自信使用英语，如何跨校跨专业考研等等。
                 </p>
             </div>
             <div class="company_details">
                 <h4>项目经验</h4>
                 <h5>wifi定位项目</h5>
                 <p>项目描述：这是和咸宁市公安局合作的一个项目，主要是在全市范围安装wifi收集设备收集wifi信息，然后传回服务器进行查询。
                   可以根据qq号，mac来查询犯罪嫌疑人在哪里活动过，有哪些号经常是伴随出现。<br>
                   技术难点：数据量大，查询慢。<br>
                   解决方法：将数据进行分表，采用日志性数据的处理办法，冗余数据，加快数据查询。<br>
                   个人参与：将回传的数据进行压缩过滤，简单的统计然后写回数据库，这里使用到了Celery（消息队列）的技术，可以多台服务器对数据进行处理，实际上使用了2台服务器<br>  
                </p>
                <br>
                <h5>病人信息查询系统</h5>
                 <p>系统用途： 方便医生写论文，查询信息使用<br>
                    项目描述：这是和天门市第一人民医院合作的一个项目。系统将医院提供的pdf文档，按照一定的规则提取出来，然后进行分类，写入数据库。方便查询。<br>
                    个人参与：负责写一些展示界面，使用django技术。<br>
                </p>
                
             </div>
         </div>
         <div class="skills">
             <h3 class="clr2">专业技能</h3>
             <div class="skill_info">
             <p>用flask入门，然后转向django，在实践过程中，会去熟悉一些web方面的知识。比如说去了解http,html,css,javascript,bootstrap,celery和大量的django第三方app.
                在帮老师进行的项目中，使用到过Celery。              
              </p>
             </div>
             <div class="skill_list">
                 <div class="skill1">
                     <h4>Python</h4>
                     <ul>					 
                        <li>掌握程度：熟练</li>
                        <li>熟悉Django,Flask Web框架</li>
                        <li>熟悉Celery</li>
                        <li>熟悉Python标准库</li>
                        <li>具有一定的项目能力</li>
                     </ul>
                 </div>
                 <div class="skill2">
                     <h4>语言</h4>
                     <ul>					 
                        <li>熟悉Python</li>
                        <li>了解HTML\CSS\Javascript</li>
                        <li>了解C</li>
                        <li>了解java</li>
                        
                     </ul>
                 </div>
                   <div class="skill2">
                     <h4>英语</h4>
                     <ul>					 
                        <li>词汇量：10000</li>
                        <li>雅思：6.0(口语6.5 阅读7.0)</li>                     
                        <li>英语六级</li> 
                        
                     </ul>
                 </div>
                 <div class="clearfix"></div>
             </div>
         </div>
         <div class="copyrights"><a href="{% url "index" %}" >Ethan个人网站</a></div>
         <div class="education">
             <h3 class="clr3">校园生活</h3>
             <div class="education_details">
                 <h4>华中科技大学<span>2015.9 - 2017.7</span></h4>
                 <h6>计算机技术</h6>
                 <p class="cmpny1">
                  <strong>专业平均分：87.8</strong><br> 在华科学习已经有一年了，在这收获非常多。在这里我变的开始自主，开始爱看书，看大量的课外书。在这个安静舒适的环境里，我过着我的紧张生活。我来这里的目的很明确也很简单。改变一下自己的教育背景（从学数学的变为搞计算机的），然后出去找一份可以生活的不错的工作。
                 </p>
             </div>
             <div class="education_details">
                 <h4>湖北大学<span>2010.9 - 2014.7</span></h4>
                 <h6>数学与应用数学</h6>
                 <p  class="cmpny1"><strong>专业平均分：85</strong><br>
                湖北大学是我本科所在的地方，在这里度过的非常难忘的四年，疯玩，各种尝试。轮滑，日语，狂背英语单词，组织小型英语角，
             上国标舞课程。在国标舞课上，遇上初恋，也是现任女朋友。其中最有意义的两件事情。一是收获了爱情，二是学好了英语，为learn in english打下了良好的基础</p>
             </div>
         </div>
         <div class="copywrite">
             <p>Copyright &copy; 2016.Company name All rights reserved.<a href="{% url "index" %}" >Ethan个人网站</a></p>
         </div>
     </div>
</div>
<!---->
{% endblock%}