{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
{% block navbar %}
{{ block.super }}
  {% endblock %}<!--/navbarendblock-->
<div class="container">
<div class="wrapper">
   <div class="container">
        <div class="row body">
            <div class="col-md-8 content">
                 {% block page_content %}
                 {% endblock %}<!--/pagecontentendblock -->
            </div>
            <div class="col-md-4">

                <!-- Latest Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>最近文章</h4>
                        <ul class="list-group">
                        {% for blog in recent_blogs %}
                        <li class="list-group-item"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>


                <!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>文章分类</h4>
                        <ul class="list-group">
                        {% for category in categories %}
                        <li class="list-group-item"><a
                                href="{%url 'blog:category' category.id category.title%}">{{category.title}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                  
                </div>
              
            </div>

        </div>
    </div>
</div>
  
</div>
{% endblock %}<!--/contentendblock-->
 {% block navbar_right %}
  <ul class="nav navbar-nav navbar-right">
   
    <li><a href="{% url "blog:tag_list" %}">标签</a></li>
    <li><a href="{% url "blog:archives"%}">归档</a></li>
</ul>
{% endblock %}

