{% extends 'base.html'%}
{% load staticfiles %}
{% block extra_head%}
{{ block.super }}
<link href="{% static "courses/css/base.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% block navbar %}
{{block.super}}
  {% endblock %}<!--/navbarendblock-->
<div class="container">
{% if messages %}
    {% for message in messages %}
       <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
    {% block page_content %}
    {% endblock %}<!--/pagecontentendblock -->
</div>
{% endblock %}<!--/contentendblock-->

{% block navbar_right %}
    {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "courses:manage_course_list" %}">管理课程</a></li>
          </ul>
    {% endif %}
{% endblock %}    
{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {
        {% block domready %}
        {% endblock %}
    });
</script>
{% endblock %}